<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home page</title>
<style type="text/css">
body {
	background-color: brown;
	color: white;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-color: yellow;
}
ul li a {
	text-decoration: none;
	color: blue;
	display: block;
	text-align: center;
	padding: 10px 20PX;
}

ul li a:hover {
	background-color: green;
	color: white;
}
</style>
</head>

<body>
	<header>
		<h1>Welcome to the CG </h1>
	</header>
	<div>
		<ul>
			<li><a href="/addemployee">Add Employee</a></li>
			<li><a href="/getemployees">View Employees</a></li>
		</ul>
	</div>
</body>
</html>